<h3>All Books</h3>
<ul class="book-list">
  <% books.each(function (book) { %>
    <li class="book-list-item group">
      <a href="#/books/<%= book.get('id') %>" class="book-cover"><img src="/assets/cover.jpg"></a>
      <div class="book-content">
        <a href="#/books/<%= book.get('id') %>" class="book-title" >
          <%= book.escape('title') %>
        </a>
        by <a href="#/authors/<%= book.author().get('id') %>" class="author-name"><%= book.author().escape('name') %></a><br>
        <%= book.escape('average_rating') ? book.escape('average_rating') : 0 %> stars
      </div>
      <div class="book-shelf">
        <select>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
    </li>
  <% }); %>
</ul>
<a href="#/books/new" class="content-button">New Book</a> <a href="#/authors/new" class="content-button">New Author</a>
