<h3>
  All Books
<div class="right" style="font-weight:normal;font-size:16px;">
<a href="#/books/new" class="content-button">New Book</a> <a href="#/authors/new" class="content-button">New Author</a>
</div>
</h3>
<ul class="book-list">
  <% books.each(function (book) { %>
    <li class="book-list-item group">
      <a href="#/books/<%= book.get('id') %>" class="book-cover"><img class="img" src="<%= book.get('image_url') %>"></a>
      <div class="book-content">
        <a href="#/books/<%= book.get('id') %>" class="book-title" >
          <%= book.escape('title') %>
        </a>
        by <a href="#/authors/<%= book.author().get('id') %>" class="author-name"><%= book.author().escape('name') %></a><br>
        <!-- <%= book.escape('average_rating') ? book.escape('average_rating') : 0 %> stars -->
        <div class="average-rating" data-score="<%= book.get('average_rating') %>"></div>
      </div>
      <!-- <div class="left">
        <a href="#/books/<%= book.get('id') %>/reviews/edit">Review</a>
      </div> -->
      <div class="left">
        Rate this book
        <div class="my-rate"
            data-score="<%= book.currentUserReview().get('rating') %>"
            data-book-id="<%= book.get('id') %>"
            ></div>
      </div>
      <div class="book-shelves group">
        <button class="toggle-shelves-panel" data-book-id="<%= book.get("id") %>">Shelves</button>
        <div class="shelves-panel" id="shelves-for-book-<%= book.get('id') %>">
          <select data-book-id="<%= book.get('id') %>" class="default-shelves-select">
            <option disabled selected>-- select a shelf --</option>
            <% shelves.defaultShelves().each(function (shelf) { %>
              <option value="<%= shelf.get('id') %>"
                <% if (shelf.books().get(book.get('id'))) { %>
                  selected
                <% } %>
                >
                <%= shelf.get('name') %>
              </option>
            <% }); %>
          </select>
          <ul class="custom-shelves-list">
            <% shelves.customShelves().each(function (shelf) { %>
              <li>
                <input type="checkbox" name="custom_shelf"
                  data-book-id="<%= book.get('id') %>"
                  data-shelf-id="<%= shelf.get('id') %>"
                  value="<%= shelf.get('name') %>"
                  <% if (shelf.books().get(book.get('id'))) { %>
                    checked
                  <% } %>
                >
                <%= shelf.get('name') %>
              </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </li>
  <% }); %>
</ul>
<div class="left">
<a href="#/books/new" class="content-button">New Book</a> <a href="#/authors/new" class="content-button">New Author</a>
</div>
<script>
  $('.average-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    },
    noRatedMsg: "No rates yet."
  });
  // $('.my-rate').raty({
  //   score: function () {
  //     // debugger
  //     return $(this).attr('data-score');
  //   }
  // });
</script>
