<h3>Books Index</h3>
<ul class="book-list">
  <% books.each(function (book) { %>
    <li class="book-list-item group">
      <a href="#/books/<%= book.get('id') %>" class="book-cover"><img src="/assets/cover.jpg"></a>
      <a href="#/books/<%= book.get('id') %>" class="book-content">
        Title: <%= book.escape('title') %><br>
        Author: <%= book.author().escape('name') %><br>
        ISBN: <%= book.escape('isbn') %>
      </a>
    </li>
  <% }); %>
</ul>
<a href="#/books/new">New Book</a>
