<div class="group">
  <div class="book-cover-primary">
    <img class="img cover-image-primary" src="<%= book.get("image_url") %>">
  </div>
  <div class="book-info">
      <h1 class="book-title-primary"><%= book.escape('title') %></h1>
      <div>by: <a href="#/authors/<%= book.author().get('id') %>" class="author-name"><%= book.author().escape('name') %></a></div>
      <div>Average Rating: <%= book.get('average_rating') %></div>
    <!-- <div id="review-form">
    </div> -->
  </div>
</div>
    <div id="current-user-review" class="review-section"></div>
    <div id="reviews-index" class="review-section"></div>
    <a href="#">Books Index</a>
