<%= shelf ? shelf.get('name') : 'All My Books' %>
<ul>
  <% books.each(function (book) { %>
    <li>
      <%= book.escape('title') %>
      <select data-book-id="<%= book.get('id') %>">
        <% shelves.defaultShelves().each(function (shelf) { %>
          <option value="<%= shelf.get('id') %>"
            <% if (shelf.books().get(book.get('id'))) { %>
              selected
            <% } %>
            ><%= shelf.escape('name') %></option>
        <% }); %>
      </select>
      <% shelves.customShelves().each(function (shelf) { %>
        <input type="checkbox" name="custom_shelf"
          data-book-id="<%= book.get('id') %>"
          data-shelf-id="<%= shelf.get('id') %>"
          value="<%= shelf.get('name') %>"
          <% if (shelf.books().get(book.get('id'))) { %>
            checked
          <% } %>
        >
        <%= shelf.get('name') %>
      <% }); %>
    </li>
  <% }) %>
</ul>
