<%= shelf ? shelf.get('name') : 'All My Books' %>
<ul>
  <% shelvings.each(function (shelving) { %>
    <li>
      <%= shelving.book().escape('title') %>
      <select data-shelving-id="<%= shelving.get('id') %>" data-shelf-id="<%= shelving.get('shelf_id') %>">
        <% shelves.each(function (shelf) { %>
          <option value="<%= shelf.get('id') %>"
            <% if (shelving.get('shelf_id') == shelf.get('id')) { %>
              selected
            <% } %>
            ><%= shelf.escape('name') %></option>
        <% }); %>
      </select>
    </li>
  <% }) %>
</ul>
